doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    ul 
      li My text
      li my oprion 
      input(type="button", value="choose me")
      input(type="text")
